/* 
Первичные стили:
С ними работает слайд шоу
*/
 
#slides {
    position: relative;
    height: 335px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
 
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
 
.showing {
    opacity: 1;
    z-index: 2;
}
/*
Второстепенные стили:
Внешний вид; можете изменять
*/
 
.slide {
    font-size: 40px;
    padding: 0px;
    box-sizing: border-box;
    background: transparent;
    color: #fff;
}
 
/*.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: blue;
}
.slide:nth-of-type(5) {
    background: purple;
}*/

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}
.slide:nth-of-type(1){
  background-image: url(/slides/img/backgrounds/slide01/background.php);background-size: cover;
}
.slide:nth-of-type(2){
  background-image: url(/slides/img/backgrounds/slide02/background.php);background-size: cover;
}
.slide:nth-of-type(3){
  background-image: url('https://ithinktoomuchaboutanime.files.wordpress.com/2014/05/meguca_puella_magi_madoka_magica_-_01_bdh264-1080p_flac462e256b-mkv_snapshot_00-12_2014-05-08_15-48-59.jpg');;background-size: cover;
}
body{background-image: none; background-color: black}
#slide-block{position: absolute; bottom: 0px}

#slide-block1 > img{ padding-top: 25px}
.shadow{
	font-family: Indie Flower;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}

